In [ ]:
import csv

In [ ]:
result = []
with open('product_list.csv', 'r', encoding='euc-kr') as f:
    reader = csv.reader(f)
    for line in reader:
        result.append(line)
        print(line)

In [ ]:
with open('product_list.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(result)
    writer.writerow(['9', '양말', '5000'])

In [ ]:
result.append(['9', '양말', '5000'])

with open('product_list.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(result)

In [ ]:
import sqlite3

In [ ]:
sqlite3.version

In [ ]:
sqlite3.sqlite_version

In [ ]:
conn = sqlite3.connect('test.db')

In [ ]:
c = conn.cursor()

In [ ]:
query = '''CREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER)'''
c.execute(query)

In [ ]:
conn.close()

In [ ]:
import sys
!{sys.executable} -m pip install pandas
import pandas as pd

In [ ]:
conn = sqlite3.connect("test.db")

In [ ]:
c = conn.cursor()

In [ ]:
query = '''CREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER)'''
c.execute(query)

In [ ]:
c.execute('''SELECT * FROM sqlite_master WHERE type="table"''')
print(c.fetchall())

In [ ]:
pd.DataFrame(c.fetchall())

In [ ]:
# 데이터 삽입
c.execute("INSERT INTO test VALUES(1,'모자',150000)")

In [ ]:
conn.commit()

In [ ]:
# 데이터 삽입
c.execute("INSERT INTO test VALUES(2,'코트',200000)")
conn.commit()

In [ ]:
# 데이터 삽입
c.execute("INSERT INTO test(PRODUCT_NAME, PRICE, ID) VALUES(?,?,?)", ('티셔츠', 20000, 3))
conn.commit()

In [ ]:
# 데이터 삽입
c.execute("INSERT INTO test(ID, PRICE, PRODUCT_NAME) VALUES(?,?,?)", (4, 55000, '블라우스'))
conn.commit()

In [ ]:
# 테이블 내용 삭제
c.execute("DELETE FROM test")
conn.commit()

In [ ]:
# 추가할 상품 리스트
product_list = [[1, '모자', 15000],
                [2, '코트', 200000],
                [3, '티셔츠', 20000],
                [4, '블라우스', 55000],
                [5, '가디건', 45000],
                [6, '청바지', 50000],
                [7, '구두', 150000],
                [8, '가방', 170000]]

In [ ]:
# 데이터 여러줄 삽입
c.executemany("INSERT INTO test(ID, PRODUCT_NAME, PRICE) VALUES(?,?,?)", product_list)
conn.commit()

In [ ]:
c.execute("UPDATE test SET PRODUCT_NAME = ? WHERE ID = ?", ('슬랙스', 6))
conn.commit()

In [ ]:
# 특정 row 만 가져오기
c.execute('''SELECT * FROM test''')
pd.DataFrame(c.fetchall())

In [ ]:
# 테이블 내용 삭제
c.execute("DELETE FROM test")
conn.commit()

In [ ]:
# 추가할 상품 리스트
product_list = [[1, '모자', 15000],
                [2, '코트', 200000],
                [3, '티셔츠', 20000],
                [4, '블라우스', 55000],
                [5, '가디건', 45000],
                [6, '청바지', 50000],
                [7, '구두', 150000],
                [8, '가방', 170000]]

In [ ]:
# 데이터 여러줄 삽입
c.executemany("INSERT INTO test(ID, PRODUCT_NAME, PRICE) VALUES(?,?,?)", product_list)
conn.commit()

In [ ]:
c.execute("UPDATE test SET PRODUCT_NAME = ? WHERE ID = ?", ('슬랙스', 6))
conn.commit()

In [ ]:
c.execute("UPDATE test SET PRICE = :price WHERE ID = :id", {"price": 55000, "id": 6})
conn.commit()

In [ ]:
c.execute("UPDATE test SET PRODUCT_NAME = '%s' WHERE ID = '%s'" % ('트랜치코트', 2))
conn.commit()

In [ ]:
c.execute("DELETE FROM test WHERE ID =?", (8,))
conn.commit()

In [ ]:
c.execute("DELETE FROM test WHERE PRODUCT_NAME = :product_name", {'product_name': '슬랙스'})
conn.commit()

In [ ]:
c.execute("DELETE FROM test")
conn.commit()

In [ ]:
# DB 연결 해제
conn.close()

In [ ]:
# 연습용 DB 연결
conn = sqlite3.connect("test.db")
# 커서 생성
c = conn.cursor()

In [ ]:
# 추가할 상품 리스트
product_list = [[1, '모자', 15000],
                [2, '코트', 200000],
                [3, '티셔츠', 20000],
                [4, '블라우스', 55000],
                [5, '가디건', 45000],
                [6, '청바지', 50000],
                [7, '구두', 150000],
                [8, '가방', 170000]]

In [ ]:
# 데이터 여러줄 삽입
c.executemany("INSERT OR REPLACE INTO test(ID, PRODUCT_NAME, PRICE) VALUES(?,?,?)", product_list)
conn.commit()

In [ ]:
# iterdump 내용 확인
for line in conn.iterdump():
    print(line)

In [ ]:
# 데이터 베이스 백업 파일 생성
with conn:
    with open('backup.sql', 'w') as f:
        for line in conn.iterdump():
            f.write('%s\n' % line)
        print('Completed.')

In [ ]:
# 테이블 삭제
c.execute("DROP TABLE test")
conn.commit()

In [ ]:
# 백업 SQL 파일 로딩
with open('backup.sql', 'r') as sql_file:
    sql_script = sql_file.read()

In [ ]:
sql_script

In [ ]:
# SQL 스크립트 실행
c.executescript(sql_script)
conn.commit()

In [ ]:
# 데이터 베이스 연결 해제
conn.close()

In [ ]:
product_list = pd.read_csv('product_list.csv', encoding='utf-8')
print(product_list)

In [ ]:
# 연습용 DB 연결
conn = sqlite3.connect("test.db")
# 커서 생성
c = conn.cursor()

In [ ]:
# 상품 리스트 테이블 추가
product_list.to_sql('productList', conn, if_exists='append', index=False)

In [ ]:
# 테이블 삭제
c.execute("DROP TABLE productList")
conn.commit()

In [ ]:
product_list = [['모자', 15000],
                ['코트', 200000],
                ['티셔츠', 20000],
                ['블라우스', 55000],
                ['가디건', 45000],
                ['청바지', 50000],
                ['구두', 150000],
                ['가방', 170000],
                ['양말', 5000]]

# 테이블 생성
c.execute("CREATE TABLE IF NOT EXISTS productList(ID INTEGER PRIMARY KEY AUTOINCREMENT, 상품명 TEXT, 가격 INTEGER)")

# 레코드 추가
c.executemany("INSERT INTO productList (상품명,가격) values (?,?)", product_list)
conn.commit()

In [ ]:
c.execute("CREATE TABLE IF NOT EXISTS orderList(ID INTEGER PRIMARY KEY AUTOINCREMENT, 상품명 TEXT, 개수 INTEGER, 가격 INTEGER, 총합 INTEGER)")
conn.commit()

In [ ]:
while True:

    # 상품 목록을 표시
    print("------------------상품목록------------------")
    for row in c.execute('SELECT ID, 상품명, 가격 FROM productList'):
        print('상품번호 :', row[0], ', 상품명 :', row[1], ', 가격 :', row[2])
    print("--------------------------------------------")

    # 사용자 상품 선택
    print('')
    num = input("구매하실 상품의 번호를 입력해주세요: ")
    c.execute("SELECT 상품명, 가격 FROM productList WHERE id = ?", (num,))
    result = c.fetchone()

    # 상품 번호와 주문 수량을 입력
    print('')
    count = int(input("구매할 수량을 입력해주세요: "))
    total = count * int(result[1])

    # 주문 데이터를 db에 추가
    c.execute("INSERT INTO orderList (상품명, 개수, 가격, 총합) VALUES (?,?,?,?)", (result[0], count, result[1], total))

    # 현재까지 주문 내역을 출력
    print('')
    print("현재까지 구매한 내역 보기")
    print("--------------------주문목록--------------------")
    for row in c.execute('SELECT * FROM orderList'):
        print('상품명 :', row[1], ', 주문수량 :', row[2], ', 단가 :', row[3], ', 구매가격 :', row[4])
    print("------------------------------------------------")

    # 사용자 추가 구매 여부
    print('')
    print("상품을 추가 구매하시겠습니까?\n중단하려면 'x'을 눌러주세요.\n계속 하시려면 엔터키를 눌러주세요. ")
    if (input() == "x"):
        break

In [ ]:
# 주문 내역에서 총 구매 가격 계산
print("총 구매가격", end='')

for row in c.execute('SELECT sum(총합) FROM orderList'):
    print(' : ', row[0], '원')
print('')

# 주문 내역 초기화
c.execute("DELETE FROM orderList")

# 데이터 베이스 연결 해제
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('blog.db')

In [ ]:
c = conn.cursor()
c.execute('''
            create table blog (
                id integer primary key,
                subject text,
                content text,
                date text
                )
          ''')

In [ ]:
c.execute('''
          insert into blog values (
              1,
              '첫 번째 블로그',
              '첫 번째 작성글',
              '20221022'
          )
          ''')
conn.commit()

In [ ]:
c.execute("select * from blog")
import pandas as pd
pd.DataFrame(c.fetchall())

In [ ]:
c.execute('''
          insert into blog values (
              2,
              '두 번째 블로그',
              '두 번째 작성글',
              '20221022'
          )
          ''')
conn.commit()

In [ ]:
c.execute('''
          insert into blog values (
              3,
              '세 번째 블로그',
              '세 번째 작성글',
              '20221022'
          )
          ''')
conn.commit()

In [ ]:
conn.close()

In [ ]:
from tkinter import *

root = Tk()
label = Label(root, text='Hello World !')
label.pack()

root.mainloop()

In [ ]:
from tkinter import *

root = Tk()
root.geometry('300x200')
label = Label(root, text='Hello World !')
label.pack()

root.mainloop()

In [ ]:
from tkinter import *

root = Tk()
root.geometry('200x200')
listbox = Listbox(root)
listbox.pack()

for i in ['첫번째 요소', '두번째 요소', '세번째 요소', '네번째 요소']:
    listbox.insert(END, i)
    
root.mainloop()

In [ ]:
from tkinter import *

def event_for_listbox(event):
    print("선택되었습니다 !")
    
root = Tk()
root.geometry('200x200')
listbox = Listbox(root)
listbox.pack()

for i in ['첫번째 요소', '두번째 요소', '세번째 요소', '네번째 요소']:
    listbox.insert(END, i)
    
listbox.bind('<<ListboxSelect>>', event_for_listbox)

root.mainloop()

In [ ]:
from tkinter import *

root = Tk()
root.geometry('200x200')

entry = Entry(root)
entry.insert(0, "데이터를 입력해 주세요")
entry.pack()

root.mainloop()

In [ ]:
from tkinter import *

def event_for_entry(event):
    print(f"사용자 입력 값은 {entry.get()} 입니다 !")
    
root = Tk()
root.geometry('200x200')

entry = Entry(root)
entry.insert(0, "데이터를 입력해 주세요")
entry.bind("<Return>", event_for_entry)
entry.pack()

root.mainloop()

In [ ]:
from tkinter import *

data = '''첫번째 데이터
두번째 데이터
세번째 데이터
'''

root = Tk()
root.geometry('200x200')

text = Text(root)
text.insert(1.0, data)
text.pack()

root.mainloop()

In [ ]:
from tkinter import *

def btn_click(event):
    print(f"버튼이 클릭되었습니다 !")
    
root = Tk()
root.geometry('200x100')

b1 = Button(root, text="나의 첫번째 버튼")
b1.bind('<Button-1>', btn_click)
b1.pack()

root.mainloop()

In [ ]:
from tkinter import *

def btn_click(event):
    print(f"사용자 입력 값은 : \n{text.get(1.0, END)} 입니다!")
    
data = '''여러줄의 데이터를 입력하고 버튼을 클릭해주세요'''

root = Tk()
root.geometry('500x500')

text = Text(root)
text.insert(1.0, data)
text.pack()

b1 = Button(root, text='결과값 확인')
b1.bind('<Button-1>', btn_click)
b1.pack()

root.mainloop()

In [ ]:
from tkinter import *

root = Tk()
root.geometry('300x300')

buttonLeft = Button(root, width=10, text='1')
buttonLeft.pack(side='left')

buttonRight = Button(root, width=10, text='2')
buttonRight.pack(side='right')

buttonTop = Button(root, width=10, text='3')
buttonTop.pack(side='top')

buttonBottom = Button(root, width=10, text='4')
buttonBottom.pack(side='bottom')

buttonCenter = Button(root, width=10, text='5')
buttonCenter.pack(expand=True)

root.mainloop()

In [ ]:
from tkinter import *

root = Tk()
root.geometry('300x300')

button1 = Button(root, width=10, text='1')
button1.place(x=30, y=30)

button2 = Button(root, width=10, text='2')
button2.place(x=50, y=50)

button3 = Button(root, width=10, text='3')
button3.place(x=100, y=100)

button4 = Button(root, width=10, text='4')
button4.place(x=200, y=100)

button5 = Button(root, width=10, text='5')
button5.place(x=200, y=150)

root.mainloop()

In [ ]:
from tkinter import *

root = Tk()
root.geometry('300x300')

button1 = Button(root, width=10, text='1')
button1.grid(row=0, column=0)

button2 = Button(root, width=10, text='2')
button2.grid(row=0, column=1)

button3 = Button(root, width=10, text='3')
button3.grid(row=0, column=2)

button4 = Button(root, width=10, text='4')
button4.grid(row=1, column=0)

button5 = Button(root, width=10, text='5')
button5.grid(row=1, column=1)

button6 = Button(root, width=10, text='6')
button6.grid(row=1, column=2)

root.mainloop()

In [ ]:
from tkinter.messagebox import *

if askyesno("확인", "정말 삭제하시겠습니까?"):
    # Yes : True 값 반환
    print('삭제되었습니다.')
else:
    # No : False 값 반환
    print('삭제되지 않았습니다.')

In [ ]:
from tkinter.messagebox import *

showerror("오류", "오류가 발생했습니다")

In [ ]:
import sys

!{sys.executable} -m pip install pyInstaller

In [ ]:
def get_blog_list():
    conn = sqlite3.connect('blog.db')
    c = conn.cursor()
    c.execute("SELECT * FROM blog")
    result = c.fetchall()
    conn.close()
    return result

In [ ]:
get_blog_list()

In [ ]:
def add_blog(subject, content):         # 제목, 내용
    conn = sqlite3.connect('blog.db')
    conn.row_factory = sqlite3.Row
    c = conn.cursor()
    today = time.strftime('%Y%m%d')     # 현재 시간
    c.execute("INSERT INTO blog (subject, content, date) VALUES (?, ?, ?)",
              (subject, content, today))
    conn.commit()
    conn.close()